# Dependencias
/node_modules/

# Builds
/build/

# Archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db



# IDE / editores
.vscode/
.idea/
*.iml

# Mac / Linux
.cache/
